/* ===========================================
 * Fonts
 * ======================================== */

// Font
//$font-family1: "Open Sans", sans-serif;
//$font-family: $font-family1;
//$font-weight1: 400;
//$font-family2: "Oswald", sans-serif;
//$font-weight2: 400; 

@include font-face("RockSolid Icons", font-files("rocksolid-icons.woff", woff, "rocksolid-icons.ttf", truetype, "rocksolid-icons.svg", svg), "rocksolid-icons.eot", normal, normal);

@mixin font1() { font: #{$font-weight1} #{$font-size}/#{$line-height} #{$font-family1}; }
@mixin font1-family() { font-family: #{$font-family1} !important; }
@mixin font2() { font: #{$font-weight2} #{$font-size}/#{$line-height-heading} #{$font-family2}; }
@mixin font2-family() { font-family: #{$font-family2} !important; }
.font1{
    @include font1-family;
}
.font2{
    @include font2-family;
}
html{
    @include font1();
    color: $font-color;
    @include mediaquery(mobile) {
        font-size: $font-size-mobile;
    }
}
h1, h2, h3, h4, h5, h6{
    @include font2-family();
}