$legacy-support-for-ie: false;
$text-transform: none;

$max-width: 1500px;
$breakpoint-desktopxl: 1400px !default;
$breakpoint-desktop: $max-width !default;
$breakpoint-tablet: 1000px !default;
$breakpoint-mobile: 700px !default;
$breakpoint-mobile-portrait: 600px !default;